@model IEnumerable<CategoryModel>
@{
    ViewData["Title"] = "GetAllCategories";
}

<div class="py-5 bg-light">
    <div class="container">
        <h3 class="display-4">GetAllCategories</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Category</th>
                    <th scope="col">Category Image</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.CategoryID</th>
                    <td>@item.CategoryName</td>
                    <td><img src="@item.CategoryImage" width="50" /></td>
                    <td>
                        <a asp-action="editcategory" asp-route-id="@item.CategoryID" class="btn btn-warning">Edit</a>
                        <a asp-action="deletecategory" asp-route-categorytId="@item.CategoryID" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

