@model IEnumerable<ProductModel>
@{
    ViewData["Title"] = "AllProductsData";
}

<div class="py-3 bg-light">
    <div class="container">
        <h3 class="display-4">All Products Data</h3>
        <div class="table-responsive" style="height:450px; background: beige">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product Id</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">BrandName</th>
                        <th scope="col">Product Category</th>
                        <th scope="col">InStock</th>
                        <th scope="col">ProductDetails</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Product Image</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.ProductID</th>
                            <td>@item.ProductName</td>
                            <td>@item.BrandName</td>
                            <td>@item.ProductCategories</td>
                            <td>@item.InStock</td>
                            <td><div style="overflow:scroll; width:250px; height: 80px">@item.ProductDetails</div></td>
                            <td>@item.Quantity</td>
                            <td>@item.Price</td>
                            <td><img src="@item.Image" width="50"/></td>
                            <td>
                                <a asp-action="editproduct" asp-route-id="@item.ProductID" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a asp-action="DeleteProduct" asp-route-productId="@item.ProductID" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



